html
  head
    title=title
    link(
      rel="stylesheet"
      type="text/css"
      href="/index.css"
    )
    script(
      src="/read_more.js"
    )
    link(
      rel="preconnect"
      href="https://fonts.gstatic.com"
    )
    link(
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    )
  body
    div(class="wrapper")
      main(class="content-wrapper")
        div(class="image")
          img(src="/pictures/" + picture)
        div(class="info")
          h1=title
          p!=info
        a(class="show-more-button hidden") Show more!
      aside
        ul
          each value, index in otherPets
            li
              img(src="/pictures/" + value.picture)
              p
                a(href="/pet/" + index)=value.name
